<div class="item-cover">
    <% if(rows && rows.length > 0){
        for(var row of rows){
    %>
    <a class="item-link row">
        <div class="col-sm-12 hidden">
            <img src="/public/assets/logo.png" height="60px"/> 
        </div>
        <div class="col-sm-12">
            <h5 class="item-title"><%- row.title %></h5>
        </div>
        <div class="col-sm-12">
            <p class="item-content hidden"><%- row.description %></p>
            <p class="item-footer">
                    <span class="item-subfoot">VENUE : <%- row.venue.toUpperCase() %></span>
                    <span class="item-subfoot">DATE : <%- row.date != null ? row.date.toUpperCase() : 'NONE' %></span>
                    <span class="item-subfoot">TIME : <%- row.time.toUpperCase() %> GMT</span>
                    <% if(user && user.isAdmin){ %>
                    <span class="item-subfoot edit-item" data-url="/create-events?id=<%- row.id %>"><b style="color:brown;cursor:pointer;">EDIT</b></span>
                    <% } %>
            </p>
        </div>
    </a>
    <% }}else{ %>
        <a href="" class="item-link row">
           <div class="col-sm-12">
                <h5 class="item-title">NO EVENTS PUBLISHED</h5>
            </div>
        </a>
        <% } %>
</div>
