<div class="item-cover">

    <% if(rows && rows.length > 0){
         for(var row of rows){
    %>
    <a class="item-link row">
        <span class="a-link" data-url="/news-detail/<%- row.id %>">
            <div class="col-sm-3">
                <img src="<%- row.image || '/public/assets/news.png' %>" class="img-responsive"/> 
            </div>
            <div class="col-sm-9">
                <h5 class="item-title"><%- row.title.toUpperCase() %></h5>
            </div>
        </span>
        <div class="col-sm-12 m-t-10">
            <p class="item-content"><%- row.content.substring(0,166)+"... <span class='btn-xs btn-warning btn-inline a-link' data-url='/news-detail/"+row.id+"'> + Read more </span>" %></p>
            <p class="item-footer">
                    <span class="item-subfoot">PUBLISHED : <%- row.created_at.toString().toUpperCase().substring(0,15) %></span>
                    <span class="item-subfoot">BY : <%- row.author.toUpperCase() %></span>
                    <% if(user && user.isAdmin){ %>
                    <span class="item-subfoot edit-item" data-url="/create-news?id=<%- row.id %>"><b style="color:brown;cursor:pointer;">EDIT</b></span>
                    <span class="item-subfoot del-item" data-url="/delete-news/<%- row.id %>"><b style="color:brown;cursor:pointer;">DEL</b></span>
                    <% }%>
            </p>
        </div>
    </a>
    <% }}else{ %>
    <a class="item-link row">
       <div class="col-sm-12">
            <h5 class="item-title">NO ARTICLES PUBLISHED</h5>
        </div>
    </a>
    <% } %>
</div>
