<div class="item-cover">
    <a  class="item-link btn btn-xs btn-dark"><b>RESOURCES</b></a>
    <% if(rows && rows.length > 0){
        for(var row of rows){
    %>
    <a class="item-link row">
        <span class="a-link" data-url="<%- row.path %>">
        <div class="col-sm-2">
            <img src="/public/assets/dwload.png" height="50px"/> 
        </div>
        <div class="col-sm-10">
            <h5 class="item-title"><%- row.title.toUpperCase() %></h5>
        </div>
        </span>
        <div class="col-sm-12">
            <p class="item-footer">
                <span class="item-subfoot">PROGRAM : <%- row.prog_id.title.toUpperCase() %> / YEAR : <%- row.level %></span>
                <% if(user && user.isAdmin){ %>
                <span class="item-subfoot edit-item" data-url="/create-resources?id=<%- row.id %>"><b style="color:brown;cursor:pointer;">EDIT</b></span>
                <span class="item-subfoot del-item" data-url="/delete-resources/<%- row.id %>"><b style="color:brown;cursor:pointer;">DEL</b></span>
                <% }%>
            </p>
        </div>
    </a>
    <% }}else{ %>
        <a class="item-link row">
           <div class="col-sm-12">
                <h5 class="item-title">NO RESOURCES FOUND</h5>
            </div>
        </a>
        <% } %>
</div>
