<div class="item-cover">
    <div class="card">
        <div class="body">
            <form action="/signup" method="POST" enctype="multipart/form-data">
                <div class="row">
                   
                   <div class="col-sm-6">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item">
                                <img src="<%- user ? user.photo : '/public/assets/profile_img.png' %>" width="150px;"/>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">UPLOAD PHOTO</h5>
                                <p class="list-group-item-text">
                                <input type="file" name="photo" class="form-control"/>
                                </p>
                                <small style="font-size:10px;font-weight:bolder;line-height:10px;"> Picture Size: <em>(500px X 500px)</em></small>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">SURNAME</h5>
                                <p class="list-group-item-text"><input type="text" name="lname" value="<%- user && user.lname %>" placeholder="Enter Surname" required class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">OTHERNAME(S)</h5>
                                <p class="list-group-item-text"><input type="text" name="fname" value="<%- user && user.fname %>" placeholder="Enter Other names" required class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">USERNAME</h5>
                                <p class="list-group-item-text"><input type="text" name="username" value="<%- user && user.username %>" <%- user && 'readonly="readonly"' || '' %> placeholder="Enter Username" required class="form-control"/></p>
                            </a>
                           
                        </div>
                   </div>

                    <div class="col-sm-6">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PROGRAMME</h5>
                                <p class="list-group-item-text">
                                    <select name="prog_id" class="form-control" required>
                                        <%
                                          if(programs && programs.length > 0){
                                              for(var row of programs){
                                        %>
                                        <option value="<%- row.id %>" <%- user && row.id == user.prog_id._id ? 'selected="selected"':'' %>><%- row.title.toUpperCase() %></option>
                                        <% }} %>
                                    </select>
                                </p><br>
                                <h6 class="list-group-item-heading">LEVEL OR YEAR</h6>
                                <p class="list-group-item-text">
                                    <input type="integer" name="level" value="<%- user && user.level %>" placeholder="Level 1 or Year" value="" required class="form-control"/>
                                </p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">INDEX NUMBER</h5>
                                <p class="list-group-item-text"><input type="text" name="indexno" value="<%- user && user.indexno %>" placeholder="Enter Index No." required class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PHONE NUMBER</h5>
                                <p class="list-group-item-text"><input type="text" name="phone" value="<%- user && user.phone %>" placeholder="Enter Phone No." required class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PASSWORD</h5>
                                <p class="list-group-item-text"><input type="password" name="password" value="<%- user && user.password %>" <%- user && 'readonly="readonly"' || '' %> placeholder="Enter Password" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">EMAIL ADDRESS</h5>
                                <p class="list-group-item-text"><input type="text" name="email" value="<%- user && user.email %>" placeholder="Enter E-mail" required class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">DATE OF BIRTH</h5>
                                <p class="list-group-item-text"><input type="date" name="dob" value="<%- user && user.dob %>" placeholder="Enter D.O.B" required class="form-control"/></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 m-b--5 align-center">
                        <a href="javascript:void(0);" class="list-group-item">
                            <input type="hidden" name="id" value="<%- user && user._id || 0 %>"/>
                            <button class="btn btn-block btn-lg bg-pink waves-effect" id="changebtn" type="submit"><%- user ? 'UPDATE PROFILE' : 'SIGN UP' %></button>
                        </a>
                    </div>
                    <div class="col-sm-12 m-t-20 m-b--5 align-center">
                        <small>&copy <%= new Date().getFullYear() %></small>
                    </div>
            </form>
        </div>
    </div>
</div>
